PipJade/obj/
PipJade/bin/
NewPrediction/bin/
NewPrediction/obj/
.vs/
BattleRight.sln
PipDeveloper/bin/
PipDeveloper/obj/
PipZander/bin/
PipZander/obj/
PipLibrary/bin/
PipLibrary/obj/
PipLucie/obj/
PipLucie/bin/
